  <svg height="400" version="1.1" width="400" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
    <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc>
    <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
    <circle ng-repeat="p in planets"
            ng-attr-cx="{{p.x}}" ng-attr-cy="{{p.y}}" ng-attr-r="{{cfg.planetradius}}"
            fill="{{cfg.planetcolour}}" stroke="{{cfg.planetcolour}}"
            ng-click="selectPlanet(p);"></circle>
    <path ng-repeat="f in fleets"
          fill="none" stroke="{{cfg.waypointcolour}}"
          ng-attr-d="{{waypointString(f)}}"></path>
    <path ng-repeat="f in fleets"
          fill="{{cfg.fleetcolour}}" stroke="{{cfg.fleetcolour}}"
          ng-attr-d="{{'M'+f.x+','+f.y+'L'+(f.x-5)+','+f.y+',L'+f.x+','+(f.y+10)+'L'+(f.x+5)+','+f.y+'Z'}}"
          ng-attr-transform="rotate({{fleetRotate(f)}}, {{f.x}}, {{f.y}})"
          ng-click="selectFleet(f);"></path>
  </svg>
